
.vs
Output
Src/CommonImplementation/obj
Src/CommonImplementation/bin
Src/StartItUp/obj
Src/StartItUp/bin
Src/Extensions/Worksnaps/obj
Src/Extensions/Worksnaps/bin
Src/ExtensionTester/obj
Src/ExtensionTester/bin